.col-2 {
  padding: 0;
  float: left;
}

.container-buscador {
  background-color: #edf5e1;
  color: #05386b;
  border: 2px solid #7f8d6b;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  padding: 10px;
}

form {
  margin-bottom: 15px;
}

.title-buscador {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
}

input[type="text"],
select,
.price-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

/* Alinea los elementos de filtrado en columnas */
form>div {
  display: inline-block;
  width: 48%;
  /* Ancho de cada columna, ajusta según tus necesidades */
  margin-bottom: 10px;
}

/* Agrega espacio entre las etiquetas de los checkbox y sus respectivos input */
label {
  margin-right: 5px;
}

/* Estilo adicional según tus preferencias */

.row>[class*=col-2] {
  padding-left: 0;
  padding-right: 0;
}

.tab-content{
  font-size: 1.2rem;
}

